#wrapper {
    width: 500px;
    margin: 0 auto;
    color:blue;
    text-align: center;
    padding-top: 30%;
}

header {
    color:black;
    text-align: center;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border: 1px solid var(blue);
    background: coral;
    color: white;
    font-size: 16px;
    font-size: 1rem;
    width: 40%;
    height: 80%;
    position: relative;
    border-radius: 25px;
    float:left;

    font-size: var(15);
    background: var(card-background);
    -webkit-box-shadow: var(box-shadow);
            box-shadow: var(box-shadow);
    border: var(--ea-card-border);
    margin: 1.5em 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    /* height: fit-content; */
  }

  .card2 {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border: 1px solid var(blue);
    background: coral;
    color: white;
    font-size: 16px;
    font-size: 1rem;
    width: 40%;
    height: 80%;
    position: relative;
    float: right;
    display:inline;
    border-radius: 25px;

    font-size: var(15);
    background: var(card-background);
    -webkit-box-shadow: var(box-shadow);
            box-shadow: var(box-shadow);
    border: var(--ea-card-border);
    margin: 1.5em 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    /* height: fit-content; */
  }

  .card-content {
    margin-left:25;
  }

  .card-footer {
    margin-left:200;
    margin-top: 50;
  }

  .card-header {
      text-align:center;
  }